@using STUDY.Blazor.FifaWorldCup.Shared.Models
@inject HttpClient Http

<EditForm Model="match" OnValidSubmit="@SaveItem">
    <div class="form-group">
        <div>
            @{if (match.Seed != Seed.P) {
                    <label class="team-label">@match.Team1</label>
            } else {
                    <label class="team-label">@match.Placeholder1</label>
            }}
            <InputNumber class="goals-input" @bind-Value="@match.GoalsTeam1" />

            @{if (match.Seed != Seed.P) {
                <label class="team-label">@match.Team2</label>
            } else {
                <label class="team-label">@match.Placeholder2</label>
            }}
            <InputNumber class="goals-input" @bind-Value="@match.GoalsTeam2" />
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    [Parameter] public Match match { get; set; }

    protected async Task SaveItem()
    {
        Console.WriteLine($"{match.Team1} {match.GoalsTeam1} x {match.Team2} {match.GoalsTeam2}");

        match.IsFinished = true;
        await Http.PostAsJsonAsync("api/Matches", match);
    }
}

<style>
    .goals-input {
        width: 50px;
    }

    .team-label {
        width: 100px;
    }
</style>
